header,
footer{
    display: flex;
    flex-direction: row;
    background-color: #3F51B5;
    align-items: center;
    padding: 15px;
}

footer{
    height: 3vh;
    min-height: 30px;
    justify-content: flex-end;
}
header{
    height: 5vh;
    min-height: 45px;
    justify-content: space-between;
}

body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: fit-content;
}
content{
    display: flex;
    flex: 1;
}

.flex{
    display: flex;
}

.center{
    justify-content: center;
    align-items: center;
}

.column{
    flex-direction: column;
    flex-wrap: wrap;
}

.row{
    flex-direction: row;
    flex-wrap: wrap;
}

.light,
.light a{
    color: #fff;
}

.dark,
.dark a{
    color: #444444;
}

.flex h1,
.flex h3{
    margin: 0;
}


.flex p,
.flex h1,
.flex h3,
.flex h2,
.site-title,
.site-description{
    font-family: 'Dosis', sans-serif;
}

.site-title{
    font-size: 24pt;
    font-weight: bold;
}

.site-description{
    font-size: 14pt;
}

.site-page{
    width: 100%;
    background: #e6e6e6;
}

.site-section{
    padding: 50px;
}

.wide-card{
    max-width: 550px;
    min-height: 150px;
    min-width: 350px;
}

.tall-card{
    text-align: center;
    min-width: 250px;
}

.card{
    position: relative;
    background: #fff;
    margin: 15px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-image{
    min-height: 100px;
}

.card-image img{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
    max-width: 250px;
    max-width: 250px;
    display: block;
}

.card-content{
    position: relative;
}

.card-links{
    position: absolute;
}

.tall-card .card-content a{
    margin: 0;
}

.wide-card .card-content{
    padding: 30px;
}

.flex a,
.site-title{
    margin: 0 15px 0 15px;
}
.site-description{
    margin: 0 5px 0 5px;
}

a {
    text-decoration: none;
}

a:hover{
    border-bottom: 5px solid #EAAB1C;
}

/*
SCREEN SIZE
*/

/* larger than 768px */
@media screen and (max-width: 768px)
{
    /*
    #social-nav
    {
        display: none;
    }
    */
    header, footer
    {
        justify-content: center;
    }
}
  
/*smaller than 1023px */
@media screen and (max-width: 480px) 
{
    .site-title
    {
        font-size: 18pt;
    }

    .site-page .row
    {
        flex-direction: column;
    }

    .site-nav h3
    {
        font-size: 10pt;
    }

    h1
    {
        font-size: 21pt;
    }
}